@use "apprise-ui/common.scss";

.guest-lang-switch {

    .ant-switch-checked {
        
        background-color: rgba(0, 0, 0, 0.25) !important;
        
        &:focus {
            box-shadow: none !important;
        }
    }

    
}