@use 'apprise-ui/common.scss';



.assets-droppable {

    height: 100%;

    >div {
        height: 100%;
    }

   
    .table-header, .ant-table-header, .ant-table-body table {
        transition: filter .3s ease-in-out;
        will-change: filter
    }

    .ant-table-placeholder {

        transition: transform .3s ease-out;
        will-change: transform
    }

    .droppable-hovered {

        .table-header, .ant-table-header, .ant-table-body table {
            filter: opacity(0.3) grayscale(1);
        }

        .ant-table-placeholder {

            
            transform: scale(1.05);
               
            * {
                color: common.$primary-color !important;

            }

        }
       
    }

}