@use "apprise-ui/common.scss";

.apprise-explainer-panel.matching-panel {


    &.summary-pending {

        .explainer-icon {
            color: common.$warning-color;
        }

        .explainer-action {
            background-color: common.$warning-color;
            color: white
        }
    }

    &.summary-unmatched {

        .explainer-icon {
            color: common.$success-color;

            * {
                color: common.$success-color  !important;
            }
        }

        .explainer-action {
            background-color: common.$success-color;
            color: white
        }

    }

    &.summary-matched {

        .reject-all {

            background: common.$text-color-selected  !important;


        }

        .explainer-action {
            background-color: common.$primary-color;
            color: white
        }
    }

    .explainer-action {
        padding: 5px 10px;
        border: 1px solid common.$text-color-tinted;
        border-radius: 2px;
    }

    &.summary-unmatched {


        .reject-all {

            background: common.$success-color  !important;

            * {
                color: white !important;
            }
        }
    }




    .matches-title {
        margin: 20px 0px 50px;
        font-size: x-large;
        font-weight: 300;
        text-align: center;
    }

    .panel-body {

        margin-top: 30px;
        width: 100%;

        .vessel-match {

            transition: background-color .2s;

            &.match-selected {
                background-color: common.$text-color-tinted;
            }

            padding: 10px;
            background-color: common.$text-color-selected;
            border-radius: 4px;
            display: flex;

            &.reject-all {

                .match-icon {

                    color: common.$success-color  !important;
                }

            }

            &.match-matched {

                background: common.$primary-color;

                * {
                    color: white !important;
                }
            }


            .match-tip {

                flex-grow: 1;
                display: flex;

                >div {
                    flex-grow: 1;
                    display: flex;
                }
            }

            .match-box {

                * {
                    margin: 0px;
                }



                .suffix-container .suffixes button {
                    right: 8px;
                }
            }

            &.match-disabled * {

                color: common.$text-color-lightest  !important;
            }

            .match-main {
                flex-grow: 1;
                display: flex;
            }

            .match-icon {
                font-size: x-large;
                margin-right: 10px;
                margin-top: 3px;
                color: common.$primary-color;
            }

            .match-descriptor {

                display: flex;
                flex-direction: column;


                .match-name {
                    font-size: large;
                    color: common.$text-color;
                }

                .match-data-first {
                    font-size: smaller;
                    color: common.$text-color-lighter;
                }

                .match-data-second {
                    font-size: small !important;
                    color: common.$text-color-lighter;
                }

                .match-data-compare {

                    font-variant: small-caps;
                   

                    button {
                        padding: 0px;
                        font-size: small;
                    }


                }
            }

            .match-controls {

                margin-right: 10px;


                display: flex;
                flex-direction: column;
                align-items: center;


            }

            +.vessel-match {
                margin-top: 10px;
            }
        }
    }
}