@use 'apprise-ui/common.scss';

.patch-detail {

    .ant-drawer-header {

        transition: background-color .8s;
    }


    &.match-mode {

        .ant-drawer-header {
            background-color: common.$text-color-tinted
        }

        .record-separator {

            border-top: 2px solid lightblue;

            .apprise-label {
                display: none;
            }
        }


        .historical-record {

            opacity: 1 !important;
            filter: none;

        }
  
        .age-1 .named-property *, .named-property.property-changed  * {

            background-color: inherit !important;
        }
  
     
    }

  
    
}