@use "sass:color";
@use 'apprise-ui/common.scss';

.row-ignored .ant-table-cell:not(.ant-table-selection-column):not(.table-btns-column) * {

    * {
        color: common.$text-color-lighter;
    }

}

.row-rejected .ant-table-cell:not(.ant-table-selection-column):not(.table-btns-column) * {

    text-decoration: line-through rgba(255,0,0,0.2);

    * {
      
        color: common.$text-color-lighter;

        svg * { 
            color: inherit;
            filter: opacity(0.6);
        }
    }

}

.new-record {

    .ant-tag {
        border-color: common.$success-color !important;
    }

    .label-title {
        color: color.adjust(common.$success-color,$lightness: -10%);
    }
}


.matched-record  {

    .ant-tag {
        border-color: common.$primary-color !important;
    }

    .label-title {
        color:common.$primary-color;
    }
}

.pending-record {

    .ant-tag {
        border-color: common.$error-color !important;
    }

    .label-title {
        color: common.$error-color;
    }
}

.row-ignored .new-record,
.row-ignored .matched-record,
.row-ignored .pending-record,
.row-rejected .pending-record {

    .ant-tag {
        border-color: common.$text-color-frame !important;
    }

 
}

