@use "sass:color";
@use 'apprise-ui/common.scss';



.apprise-explainer-panel.validation-panel {


    .explainer-action {

        >.apprise-row {
            padding: 5px 10px;
            border-radius: 4px;
        }

    }

    .validation-issues-title {

        margin: 20px 0px 50px;
        font-size: x-large;
        font-weight: 300;
        text-align: center;
    }

    .validation-action-btn {

        margin-top: 50px;
        text-align: center;
    }

    .explainer-body {

        margin-top: 30px;

        .validation-issue {

            padding: 10px;
            border-radius: 6px;
            background-color: color.adjust(common.$color-frame, $lightness: 2%);
            border-left: 3px solid common.$text-color-tinted;

            .validation-issue-icon {

                margin-right: 10px;
                margin-top: 3px;
                font-size: large;
                color: common.$error-color;
            }

            .validation-issue-text {

                white-space: pre-line;
                font-variant: small-caps;

            }


            +.validation-issue {

                margin-top: 15px;
            }


        }


    }
}