
@use "apprise-ui/common.scss";


.trxauthz-patch {
    
    & + .trxauthz-patch {

        padding-top: 30px;
    }
    
}

.trxauthz-revoked {
    
    opacity: .5;

    * {

        text-decoration: line-through;
        text-decoration-color: common.$error-color;
    }
    
}


.trxauthz-latest {
 
    .property-value, .property-name {

        background-color: common.$text-color-tinted;
    }
}

.trxauthz-expired {
 
    .property-value, .property-name {

        opacity: .5;
    }
}