
@use 'apprise-ui/common.scss';


.apprise-vidbox {


    .vid-row {

        display: flex;

        .apprise-textbox {
            flex-grow: 1;
        }

         
       &:not(.noscheme) .apprise-textbox {

            margin-left: 5px;
        }
    }

}