@use 'apprise-ui/common.scss';

.rav-card {

    &.photo-field + &.photo-field {

        margin-top: 30px;
    }

    .photo-upload {

        background-color: white;
        padding: 1px 5px;
        border-radius: 4px;
        min-height: 40px;
    }

}

.photo-card {

    .photo-box {

        position: relative;
    }

    .photo-placeholder {

        position: relative; // becomes the parent and must be relative
        height: 150px;
        width: 150px;
        color: common.$text-color-tinted;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, .1)) opacity(1) blur(0);
    }

    .photo-message {
        top: 50%;
        left: 50%;
        z-index: 2;
        padding: 10px;
        color: white;
        font-size: small;
        padding: 3px 10px;
        position: absolute;
        border-radius: 20px;
        white-space: nowrap;
        border: 0px !important;
        transform: translate(-50%, -50%);
    }

    .photo-error {
        background-color: red;
    }

    .photo-warning {
        background-color: orange;
    }
}