@use 'apprise-ui/common.scss';

.download-panel {

    .apprise-field.page-range {

        height:0px;
       
        transition: all ease-in-out 200ms;
        overflow: hidden;
      
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .field-main {
            padding: 0px 10px;
        }

        &:not(.range-active) {
            margin-top: 0px;

        }

        &.range-active {

            height: 70px;

        }
    }

    .download-btn {

        display: flex;
        justify-content: center;
        padding-top: 65px
    }
}