@use 'apprise-ui/common.scss';


.selectfield {


    display: flex;

    .apprise-textbox {
        flex-grow: 1;
    }


    &:not(.mono) .apprise-textbox {

        margin-left: 5px;
    }

    .apprise-selectbox {

        .label-title {
            font-variant: small-caps;
            text-transform: lowercase;
        }

        .ant-select-selector {
            background: common.$text-color-tinted;
            color: common.$app-color;

        }
        
    }


    .prefix {

        color: common.$app-color;
        font-variant: small-caps;
        text-transform: lowercase;
        font-size: smaller;

    }


}


.apprise-datebox {

    .field-label-item {

        margin-top: -2px;
    }
}


