@use "sass:color";
@use 'apprise-ui/common.scss';

.query-form {


    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .pills-selected {

        margin-top: 15px;

        display: flex;
        justify-content: center;

        flex-wrap: wrap;

    }


    .pills-unselected {

        display: flex;
        justify-content: center;

    }

    .form-controls {

        margin-top: 10px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        .form-btn {
            width: 22px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: white;

            border: 1px solid common.$text-color-tinted;
            border-radius: 50%;
        }

        .form-btn+.form-btn {

            margin-left: 6px;
        }


        .mode-btn {

            position: absolute;
           
            //border: none;

            svg {
                width: 22px;   
                height: 22px;
            }

            * {
                color: common.$text-color-lightest !important;  // safari requires important
            }

            &:hover {
                * {
                    color: color.adjust(common.$text-color-lightest,$lightness: -10%);
                }
            }

            &.mode-historical, &.mode-include {

                box-shadow: 0px 0px 8px 0px salmon ;

                * {
                    color: salmon !important; // safari requires important
                }


                &:hover {
                    * {
                        color:  color.adjust(salmon,$lightness: 5%);
                    }
                }
            }
        }




        .mode-lbl {

            position: absolute;
            
           
            text-transform: lowercase;
            font-variant: small-caps;
            font-size: 13px; 

            color: common.$text-color-lightest;
        }

        .history-btn {

            right: -40px;
        }

        .history-lbl {

            right: -110px;


            &.mode-include {
                color: salmon;
            }
        }
        


        .delisted-btn {

            left: -33px;
        }

        .delisted-lbl {

            left: -90px;
           
        }

        .delisted-lbl {

            &.mode-include {
                color: salmon;
            }

        }

        .delisted-lbl.apprise-disabled, .delisted-btn.apprise-disabled {

           box-shadow: none;
           opacity: .4;
        }


        .apply-btn {

            margin-right: 5px;
            margin-left: 10px !important;
            width: 28px;
            height: 28px;
            background-color: common.$success-color;

            &:hover {
                background-color: color.adjust(common.$success-color, $lightness: 5%);
            }


            svg {
                color: white
            }

            &.btn-highlight {

                box-shadow: 0 0 8px 1px #5f9ea0;

            }
        }


    }

    .query-pill-selected {

        + .query-pill-selected {
            margin-left: 10px;
        }

        margin-bottom: 5px;

        .apprise-field {


            .field-main-lbl {
                background-color: common.$text-color-tinted;
                color: common.$app-color;
                padding: 0px 8px;
                margin: 0px;
                height: 32px;
                border: 1px solid common.$text-color-frame;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                font-variant: small-caps;
                text-transform: lowercase;
            }

            .ant-input {

                border-radius: 0px;
                border-left: none;
            }
        }

    }

    .query-pill-selected-close {

        height: 32px;

        padding: 0px 3px;

        border: 1px solid common.$text-color-frame;
        border-left: none;

        button:not(:hover) {
            color: common.$text-color-lighter;
        }

        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;


    }

    .query-pill-unselected {

        * {
            font-variant: small-caps;
            font-size: 13px;
        }

        &.apprise-button {

            svg {
                visibility: hidden;
            }

            &:not(:hover) {

                button {
                    color: common.$text-color-lighter;
                }
            }

            &.apprise-disabled {
                button {
                    color: common.$text-color-lightest;
                }
            }

            &:hover:not(.apprise-disabled) {

                svg {
                    visibility: visible;
                }
            }
        }

        +.query-pill-unselected {

            margin-left: 15px;
        }
    }
}