@use 'apprise-ui/common.scss';

.rav-search {

    .table-counter {

        padding-left: 5px;
    }

    opacity: 1;
    transition: opacity .7s;

    .search-dirty {

        opacity: .4
    }

    .query-action {

        visibility: hidden;

    }

    .history-save {

        display: none;


    }

    tr:hover {

        .query-action {

            visibility: visible;
        }

        .history-save {

            display: inherit;
        }

        .history-count {

            display: none;
        }


    }

    .result-submitted {

        background: common.$text-color-selected;

        .ant-table-cell:first-child {

            border-left: 3px solid common.$app-color;
            border-radius: 4px;
        }
    }


    .result-delisted {

        .ant-table-cell{

            opacity: .5;

            * {

                text-decoration: line-through;
                text-decoration-color: common.$primary-color;
            }

            &:first-child {
                 opacity:1;
            }
        }
    }
}