@use "sass:color";
@use 'apprise-ui/common.scss';



.vessel-detail {

    .record-delisted {

        .named-property .property-value {

           opacity: .7;
        }

    }

    .title-delisted {

        text-decoration: line-through;
        text-decoration-thickness: 2px;
        text-decoration-color: common.$primary-color;

    }

    .patched-slot-label {

        button {

            max-height: 18px;
        }
    }

    .patched-slot-label+.patched-slot-label {

        margin-left: 3px;

        &::before {

            content: "·";
            position: relative;
            top: 0;
            right: 1px;
        }
    }

    .patched-slots {

        display: flex;
        align-items: center;
        
    }

    .delisted-icon {

        * {

            color: deepskyblue !important;

        }
    }

    .slot-card.slot-has-warnings {

        border: 1px solid common.$warning-color;
        box-shadow: 0 0 10px 3px color.adjust(common.$warning-color, $lightness: 40%);
    }

    .slot-card.slot-has-errors {

        border: 1px solid common.$error-color;
        box-shadow: 0 0 8px 1px color.adjust(common.$error-color, $lightness: 40%);
    }

}

.delist-authz-notice {

    margin-top: 10px !important;
    width: 450px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    text-align: center;
    white-space: pre-wrap;
}