@use 'apprise-ui/common.scss';



.vessel-merge {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .apprise-form.form-centered > * + * {
        margin-top: 25px;
    }

    .vessel-highlight {

        color: common.$primary-color;
    }

    .preview-loading {

        .item-source, .item-target, .vessel-highlight {
            filter: blur(2px);
        }
    }

    .merge-form {

        width: 80%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .merge-preview {

        flex-grow: 1;

        margin-top: 25px;

        display: flex;
        flex-direction: column;




        .preview-title  {

            color: common.$text-color-lighter;
            font-size: 13px;
            text-align: center;
            margin-bottom: 3px;

        }

        .preview-msg  {

            justify-content: center;
            color: common.$text-color-lighter;
            font-size: 13px;
            margin-top: 3px;

        }

        .preview-list {

            flex-grow: 1;

            overflow-x: auto;

            padding: 10px 15px;

            background-color: common.$text-color-selected;
            border-radius: 6px;

         

        }


        .item-target {

            * {
                color: common.$primary-color;
            }
        }


        .item-source {

            * {
                color: lightslategray;
            }
        }


    }
}