@use "apprise-ui/common.scss";

.rav-home {

    .page-main-content {
        color: common.$darktheme-text-color;
        background: common.$dark-background-lightest !important;
        padding-bottom: 25% !important;
    }

    .page-header {
        background: common.$dark-background-lightest !important;

        *:not(g):not(path) {
            color: common.$darktheme-text-color;
        }
    }

    .home-blurb {

        color: lightcyan;


        display: flex;
        align-items: center;
        flex-direction: column;

        .home-resolution {
            font-size: 14px;
            opacity: 0.5;
            font-style: italic;
            text-align: justify;
            width: 744px;
        }

        .home-btns {

            padding-top: 70px;
            display: flex;
            flex-direction: row;
            justify-content: center;


            .apprise-button {

                button {
                    background: common.$dark-background-lighter;
                }

                * {
                    border: common.$dark-background;
                    border-radius: 6px;;
                }

                &:hover {
                    opacity: 0.85;
                }

                & + .apprise-button {
                    margin-left: 20px;
                }

            }
        }

        .home-help {

            margin-top: 60px;

            &:not(:hover) * { 
                color:  goldenrod;
            }

            &:hover * { 
                color: gold;
            }
        }
    }



    .home-title {

        
        padding-top: 50px;
        padding-bottom: 70px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .home-ico {
            width: 350px;
        }

    }

}